@use "base/mixins" as m;
@use "base/variables" as v;

.contactanos{
    min-height: 100vh;
    padding-block: 6rem;
    @include m.flex(center, 0);
    flex-direction: column;

    margin-top: 2rem;
    background: url(../../images/bg_contacto.jpg) no-repeat;
    background-size: cover;
    background-position: center;

    @include m.tabletlg{
        padding-top: 4rem;
        padding-bottom: 6rem;
    }
    @include m.tablet{
        padding-top: 3rem;
        padding-bottom: 5.25rem;
    }

    .row{
        @include m.flex(space-between, 0);
    }

    .col{
        width: 49%;
        @include m.tablet{
            width: 100%;
        }

        h2{
            font-family: v.$urban;
            color: v.$blanco;
            font-size: 5em;
            position: relative;
            @include m.line(8px, v.$blanco, 215px, 5px);

            @include m.television{
                font-size: 3.7em;
                @include m.line(6px, v.$blanco, 180px, 4px);
            }

            @include m.desktoplg{
                font-size: 3.2em;
                @include m.line(6px, v.$blanco, 140px, 4px);
            }

            @include m.tabletlg{
                font-size: 2.7em;
            }

            @include m.tablet{
                font-size: 2.3em;
                text-align: center;
                width: fit-content;
                margin-inline: auto;
                margin-bottom: 36px;
            }

            &::before{
                left: auto;
                transform: none;
                @include m.tablet{
                    width: 100%;
                    max-width: 90%;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }

    }

}

.box_form{
    background: v.$azul_oscuro;
    border-radius: 12px;
    width: min(100%, 600px);
    margin-inline: auto;
    padding: 2rem;
    position: relative;
    overflow: hidden;

    @media (max-width: 450px){
        padding: 1.75rem 1.4rem;
    }

    p{
        color: v.$blanco;
        font-family: v.$urban;
        font-weight: 600;
        margin-bottom: 10px;
        @include m.tablet{
            text-align: center;
        }
    }
    .wpcf7-spinner{
        position: absolute;
        inset: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
        &::before{
            width: 10px;
            height: 10px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transform-origin: 18px 18px;
        }
    }
    form{
        width: 100%;

        &>p{
            width: 100%;
        }
        .wpcf7-not-valid-tip{
            font-size: 13px;
            font-weight: 600;
            margin: 4px 0 0 0;
        }
        span{
            display: block;
            width: 100%;
            margin-bottom: 8px;
        }
        .form-product{
            display: grid;
            grid-template-columns: 1.2fr 0.8fr 44px;
            grid-gap: 8px;
            flex-wrap: nowrap;
            height: 44px;
            margin-bottom: 8px;

            span, input{margin: 0;}
            p{width: 100%;height: 100%;margin: 0;}
            button{
                display: block;
                width: 100%;
                height: 100%;
                background: v.$blanco;
                border-radius: 10px;
                border: none;
                position: relative;
                &::before{
                    color: v.$azul;
                    content: '+';
                    font-family: v.$urban;
                    pointer-events: none;
                    font-weight: bold;
                    font-size: 1.6em;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
            .wpcf7-not-valid-tip{
                display: none;
            }
            .qty{
                background: #cbcbcb;
                border-radius: 10px;
                height: 100%;
                @include m.flex(center, 6px);
                flex-wrap: nowrap;
                padding: 4px 11px;
                p{
                    margin: 0;
                    height: 100%;
                    font-weight: 300;
                    color: v.$negro;
                    display: flex;
                    align-items: center;
                }
                select, span{
                    height: 100%;
                }
                select{
                    display: block;
                    background: v.$blanco;
                    border-radius: 6px;
                    border: none;
                    max-height: 36px;
                    margin: 0 0 0 auto;
                }
            }

            &.none{
                display: none !important;
            }

            @media (max-width: 580px){
                grid-template-columns: 1.1fr 0.9fr 44px;
            }
            @media (max-width: 500px){
                grid-template-columns: 1fr 44px;
                height: auto;
                p{
                    &:nth-child(1){
                        grid-column: 1/3;
                        grid-row: 1/2;
                    }
                    &:nth-child(2){
                        grid-column: 2/3;
                        grid-row: 2/3;
                    }
                }
                .qty{
                    grid-column: 1/2;
                    grid-row: 2/3;
                    height: 44px;
                    width: 90%;
                    margin: 0 0 0 auto;
                }
            }

        }
        input{
            height: 44px;
            border: none;
            font-size: .98em;
            &[type="submit"]{
                border-radius: 10px;
                display: block;
                background: v.$azul;
                color: v.$blanco;
                padding-inline: 20px;
                margin: 0 auto;
            }
        }
        input:not([type="submit"]), textarea{
            width: 100%;
            border-radius: 10px;
            background: v.$blanco;
            color: v.$negro;
            padding-inline: 12px;
            
            &::placeholder{
                color: v.$negro;
            }
        }
        textarea{
            resize: none;
            padding-block: 12px;
            max-height: 120px;
        }
    }
}