@use 'variables' as v;
@use 'mixins' as m;

a{
    font-size: 1.1rem;
}
h1{
    font-size: 3.85em;
    line-height: 1.2em;
    @include m.television{
        font-size: 3.15em;
    }
    @include m.desktoplg{
        font-size: 2.85em;
    }
    @include m.tablet{
        font-size: 2.35em;
    }
}
h2{
    font-size: 3.25em;
    line-height: 1.2em;
    @include m.television{
        font-size: 2.925em;
    }
    @include m.desktoplg{
        font-size: 2.55em;
    }
    @include m.tablet{
        font-size: 1.9em;
    }
    &.up{
        font-size: 3.6em;
    }
    &.down{
        font-size: 2em;
        @include m.desktoplg{
            font-size: 1.8em;
        }
        @include m.tablet{
            font-size: 1.55em;
        }
    }
}
h3{
    font-size: 1.65em;
    line-height: 1.2em;
    &.up{
        font-size: 2em;
        @include m.desktoplg{
            font-size: 1.7em;
        }
        @include m.tabletlg{
            font-size: 1.375em;
        }
        @include m.tablet{
            font-size: 1.6em;
        }
    }
    @include m.desktoplg{
        font-size: 1.35em;
    }
    @include m.tablet{
        font-size: 1.1em;
    }
}
p{
    font-size: 1.1rem;
    @include m.tablet{
        font-size: 1rem;
    }
}