@use "base/mixins" as m;
@use "base/variables" as v;

section:has(#localizaciones){
    .splide{
        &__arrow{
            opacity: 1 !important;
            background: v.$azul_oscuro;
            svg{
                fill: v.$blanco;
                color: v.$blanco;
            }
        }
    }
}

.contacto_info{
    padding: 5rem 0;
    .row{
        @include m.flex(space-between, 0);
        .col{
            width: 50%;
        }
    }
    .contenido{
        width: 100%;
        max-width: 420px;
        @include m.desktoplg{
            max-width: 338px;
        }
    }
    .hr{
        @include m.hr(v.$negro);
        height: 1px;
        margin-block: 30px;
    }
    ul{
        list-style: none;
        li{
            @include m.flex(flex-start, 10px);
            align-items: flex-start;
            flex-wrap: nowrap;

            &:not(:last-child){
                margin-bottom: 14px;
            }
            img{
                @include m.contain(24px);
                @include m.desktoplg{
                    @include m.contain(22px);
                }
            }
            div{
                p{
                    font-family: v.$urban;

                    &:nth-child(1){
                        font-size: 1.45em;
                        color: v.$azul;
                        font-weight: 600;
                        @include m.television{
                            font-size: 1.3em;
                        }
                        @include m.desktoplg{
                            font-size: 1.15em;
                        }
                    }
                    &:nth-child(2){
                        margin-top: 4px;
                        font-size: 1.2em;
                        font-weight: 400;
                        color: v.$azul_oscuro;
                        @include m.television{
                            font-size: 1.105em;
                        }
                        @include m.desktoplg{
                            font-size: 1em;
                        }
                    }
                }
                a{
                    color: v.$azul_oscuro;
                }
            }
        }
    }
}