@use "base/mixins" as m;
@use "base/variables" as v;

.quienes_somos{
    background: v.$negro;
    padding: 5rem 0;

    @include m.desktoplg{
        padding: 5rem 0 3rem;
    }
    @include m.tabletlg{
        padding: 2.5rem 0;
    }

    &>div{
        &:not(:last-child){
            margin-bottom: 10vh;
        }
    }

    .mision, .vision{
        p{
            font-family: v.$urban;
            font-weight: 400;
            color: v.$blanco;
            font-size: 1.3em;
            line-height: 1.25em;
            text-align: justify;
            @include m.television{
                font-size: 1.25em;
            }
            @include m.desktoplg{
                font-size: 1.135em;
            }
        }
        span{
            @include m.gigant_letters(rgba($color: #444444, $alpha: .4), 7.5vw);
            position: relative;
            inset: 0;
            text-align: left;
            @include m.flex(flex-start, 25px);

            @include m.tabletlg{
                font-size: 10vw;
            }
            @include m.tablet{
                font-size: 11vw;
            }
            @include m.telefono{
                font-size: 12vw;
            }

            img{
                @include m.contain(100px);
                @include m.desktoplg{
                    @include m.contain(66px);
                }
            }
        }
        .row{
            @include m.flex(space-between, 0);
            @include m.tabletlg{
                gap: 28px;
                margin-inline: auto;
                max-width: 550px;
            }
            .contenido{
                width: 57.5%;
                @include m.desktoplg{
                    width: 53%;
                }
                @include m.tabletlg{
                    order: 0;
                }
                p{
                    margin-top: 10px;
                    padding-left: 6.5%;
                    @include m.tabletlg{
                        padding-left: 0;
                    }
                }
            }
            .imagen{
                width: 39%;
                @include m.desktoplg{
                    width: 42.5%;
                }
                @include m.tabletlg{
                    order: 1;
                }
                img{
                    border-radius: 10px;
                    @include m.tabletlg{
                        display: block;
                    }
                }
            }
            @include m.tabletlg{
                &>div{
                    width: 100% !important;
                }
            }
        }
    }

    .somos_descripcion{

        .contenedor{
            padding-inline: 2.5%;
        }

        .row{
            @include m.flex(space-between, 0);
            position: relative;

            @include m.tabletlg{
                max-width: 550px;
                margin-inline: auto;
                flex-direction: column;
                justify-content: center;
            }
        }
        img{
            width: 100%;
            border-radius: 25px;
            @include m.tabletlg{
                border-radius: 10px 10px 0 0;
            }
        }
        p{
            text-align: justify;

            line-height: 1.275em;

            font-family: v.$urban;
            font-size: 1.45em;
            font-weight: 400;
            b, strong{
                font-weight: 900;
            }

            @include m.desktoplg{
                font-size: 1.3em;
            }
            @include m.tabletlg{
                font-size: 1.2em;
                line-height: 1.2em;
            }
            @include m.tablet{
                font-size: 1.15em;
            }
            @include m.telefono{
                font-size: 1.05em;
            }
        }
        .col{
            &:nth-child(1){
                width: 45%;
                @include m.tabletlg{
                    width: 90%;
                    margin-inline: auto;
                }
            }
            &:nth-child(2){
                @media (min-width: v.$tablet_lg){
                    width: 60%;
                    position: absolute;
                    top: 7%;
                    right: 0;
                }
                @include m.tabletlg{
                    width: 100%;
                }
            }
            div{
                width: 100%;

                background: v.$blanco;
                border-radius: 10px;
                padding: 4rem 2.5rem;
                @include m.tabletlg{
                    padding: 1rem;
                }
            }
        }
    }

}

.valores{
    background-color: v.$azul_oscuro;
    border-radius: 14px;
    padding: 2rem 5%;

    &_responsive{
        @media (min-width: v.$telefono){
            display: none;
        }
    }

    @include m.desktop{
        background: transparent;
        border-radius: 0;
    }

    #valores{
        @include m.telefono{
            width: 100%;
            max-width: 230px;
            margin-inline: auto;
            
            .splide{
                &__arrow{
                    background: v.$azul;
                    opacity: 1 !important;
                    &--prev{
                        left: -1em;
                    }
                    &--next{
                        right: -1em;
                    }
                    svg{
                        fill: v.$blanco;
                    }
                    &[disabled]{
                        display: none;
                    }
                }
            }
        }
    }

    h2{
        color: v.$blanco;
        font-family: v.$urban;
        font-weight: bold;
        text-align: center;

        position: relative;
        width: fit-content;
        margin: 0 auto 3rem;

        &::before{
            position: absolute;
            content: '';
            height: 2px;
            width: 60%;
            left: 50%;
            transform: translateX(-50%);
            bottom: -5px;
            background: v.$blanco;
        }
    }

    .grilla{
        // @include m.grid(4, 10%);
        @include m.flex(center, 20px 8%);
        align-items: flex-start;

        width: 100%;
        margin-inline: auto;
        max-width: 1100px;

        @include m.desktoplg{
            @include m.flex(center, 20px 7%);
        }
        @include m.telefono{
            display: none;
        }
    }

}

.nosotros_valores{
    @include m.desktop{
        background: v.$azul_oscuro;
    }
}