@use "base/mixins" as m;
@use "base/variables" as v;

.productos{
    padding: 3rem 0;
    .grilla{
        @include m.grid(4, 36px 20px);
        @include m.desktop{
            @include m.grid(3, 36px 20px);
        }
        @include m.tablet{
            @include m.grid(2, 20px 16px);
        }
        @include m.telefono{
            @include m.grid(2, 16px 9px);
        }
        @media (max-width: 358px){
            @include m.grid(1, 15px);
        }
    }

    &_similares{
        padding: .5rem 0;
        background: v.$gris2;

        @media (min-width: v.$tablet_lg){
            display: none;
        }

        .grilla{
            @include m.grid(3, 20px);
            margin-inline: auto;
            max-width: 550px;
            a{
                display: block;
                width: 100%;
            }
            img{
                @include m.contain(100%);
            }
        }
    }

    .pagination{
        margin-top: 8vh;
        a{
            font-family: v.$urban;
            font-weight: 700;
            color: v.$azul_oscuro;
            font-size: 1.2em;
            @include m.flex(center, 5px);
            padding: 4px;
            &.active{
                color: v.$azul;
                text-decoration: underline;
            }
            @include m.tablet{
                font-size: 1.1em;
            }
        }
        &_links{
            @include m.flex(center, 5px);
        }
    }
}

.single-product{
    height: 100vh;
    background: url(../../images/bg_single_product.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 2.5rem;

    @include m.flex(center, 0);
    flex-direction: column;

    @include m.tabletlg{
        height: 64vh;
        padding-bottom: 0;
        .contenedor{
            height: 100%;
            .row{
                height: 100%;
                .col{
                    height: 100%;
                }
            }
        }
    }

    @include m.telefono{
        height: 55vh;
    }

    .row{
        @include m.flex(space-between, 27px 0);
        .col{
            width: 50%;
            &:nth-child(2){
                .splide{
                    width: 100%;
                }
            }
        }
    }
    .splide{
        img{
            width: 100%;
        }
    }

    h2{
        color: v.$blanco;
        font-weight: 800;
        @include m.tabletlg{
            color: v.$azul_oscuro;
        }
    }

    h2, a, p{
        font-family: v.$urban;
    }

    .to_similars{
        @media (min-width: v.$tablet_lg){
            display: none;
        }
    }

    #similars{
        background: v.$azul;
        border: none;
        border-radius: 10px;
        color: v.$blanco;
        font-family: v.$urban;
        font-size: 1em;
        padding: 5px 12px;
    }

    #single{
        @include m.tabletlg{
            .splide__track{
                overflow: unset;
            }
        }
        img{
            display: block;
            max-height: 75vh;
            object-fit: contain;
            object-position: center;
            width: 93%;
            margin: 0 0 0 auto;
            aspect-ratio: 1/1;
            height: auto;
            @include m.tabletlg{
                width: 100%;
                max-height: 125%;
                height: 125%;
                margin: 0 auto;
            }
        }
        @include m.paginationVertical;

        @include m.tabletlg{
            height: 100%;
            .splide{
                &__track, &__list, &__slide{
                    height: 100%;
                }
            }
        }
    }
    .col{
        @include m.flex(center, 8.75vh);
        flex-direction: column;
    }

    #information{
        div{
            width: 100%;
        }
        .contenido{
            div{
                padding-left: 5%;
            }
        }
        .titulo{
            padding-block: 16px;
            background: v.$azul_oscuro;
            margin-bottom: 16px;
            @include m.tabletlg{
                background: none;
                padding: 0;
            }
        }
        .descripcion{
            @include m.tabletlg{
                display: none;
            }
            p{
                color: v.$negro;
                font-size: 1.25em;
            }
            a{
                margin-top: 12px;
                color: v.$azul_oscuro;
                @include m.flex(flex-start, 8px);
                p{
                    font-size: 1.05em;
                    font-weight: 600;
                }
            }
        }
    }

    #thumbnails{
        width: 100%;
        margin: 0 auto 0 0;
        @include m.tabletlg{
            display: none;
        }
        img{
            aspect-ratio: 1/1;
            object-fit: contain;
            object-position: center;
        }
        .splide__slide{
            border: none !important;
        }
    }

}

.extra_information{
    padding: 4rem 0 3.5rem;
    .splide{
        height: fit-content;
        &__list,
        &__track,
        &__slide{
            height: fit-content;
        }
    }
    .row{
        @include m.flex(space-between, 0);
        .col{
            width: 48%;

            @include m.tablet{
                width: 100%;
                max-width: 390px;
                margin-inline: auto;

                &:not(:last-child){
                    padding-bottom: 25px;
                    margin-bottom: 25px;
                    position: relative;
                    &::before{
                        content: '';
                        position: absolute;
                        display: block;
                        width: 82%;
                        bottom: -0.5px;
                        left: 50%;
                        transform: translateX(-50%);
                        height: 1px;
                        background-color: v.$negro;
                    }
                }
            }

            p, li, span, b{
                color: v.$negro;
                font-family: v.$urban;
                font-weight: 500;
                font-size: 1.2em;
                line-height: 1.3em;
                @include m.tabletlg{
                    font-size: 1.1em;
                    line-height: 1.25em;
                }
                @include m.tablet{
                    font-size: 1.075em;
                    line-height: 1.2em;
                    text-align: justify;
                }
            }

            h3{
                font-family: v.$urban;
                font-weight: 900;
                margin-bottom: 12px;
                @include m.tabletlg{
                    color: v.$azul;
                    text-align: center;
                    font-size: 1.55em;
                }
            }

            ul, ol{
                // margin-top: 10px;
                margin-left: 21px;
            }

            li{
                &:not(:last-child){
                    margin-bottom: 4px;
                }
            }

        }


        &:has(.dist_way){
            margin-top: 3rem;
        }

    }

    .back{
        margin-top: 60px;
        @include m.flex(center, 8px);
        svg{
            max-width: 32px;
            @include m.tabletlg{
                max-width: 24px;
                max-height: 24px;
            }
        }
        p{
            color: v.$negro;
            font-family: v.$urban;
            font-weight: 700;
            font-size: 1.2em;
            @include m.tabletlg{
                font-size: 1.075em;
            }
        }
    }
}

.dist_way{
    padding: 16px;
    width: 100%;
    max-width: 500px;
    margin-inline: auto;
    background: v.$azul_oscuro;
    border-radius: 10px;
    font-family: v.$urban;
    color: v.$blanco;
    h2, h3{
        font-weight: 300;
        text-align: center;
        b, strong{
            font-weight: bold;
            display: block;
        }
    }
    @include m.desktoplg{
        max-width: 450px;
    }
    @include m.tabletlg{
        max-width: 390px;
    }
}

details{
    width: 100%;max-width: 215px;
    background: v.$azul_oscuro;
    color: v.$blanco;
    outline: none;
    position: absolute;
    top: 0;left: 0;
    border-radius: 5px;
    @media (min-width: v.$tablet){
        display: none;
    }
    .fas{
        width: 14px;
        text-align: center;
    }
    .fa-times{
        display: none;
    }
    &[open]{
        .fa-times{
            display: block;
        }
        .fa-minus{
            display: none;
        }
    }
    summary{
        border-radius: 5px;
        width: 100%;
        padding-inline: 16px;
        background: v.$azul;
        min-height: 40px;
        cursor: pointer;
        @include m.flex(flex-start, 6px);
        outline: none;
        font-weight: 700;
        &::marker{
            display: none;
        }
    }
    ul{
        padding-block: 12px;
        padding-inline: 35px;
        list-style: none;
        li:not(:last-child){
            margin-bottom: 5px;
        }
    }
    i{
        font-size: 15px;
        color: v.$blanco;
    }
    summary, a{
        color: v.$blanco;
        font-family: v.$urban;
        font-size: 16px;
    }
}

.filter{
    padding: 4rem 0 1rem;
    @include m.tablet{
        display: none;
    }
    &_responsive{
        padding: 2rem 0 0;
        .contenedor{
            position: relative;
            height: 40px;
        }
    }
    &_box{
        background: v.$azul;
        border-radius: 6px;
        min-height: 62px;
        padding: 10px;
        @include m.flex(center, 0);
    }
    ul{
        width: 100%;
        list-style: none;
        @include m.flex(space-around, 20px);
        a{
            display: block;
            color: v.$blanco;
            font-family: v.$urban;
            font-size: 1.3em;
            font-weight: 500;
            &.active{
                color: v.$azul_oscuro;
                font-weight: bold;
            }
            @include m.television{
                font-size: 1.15em;
            }
            @include m.desktoplg{
                font-size: 1.075em;
            }
        }
        li{
            border-radius: 5px;
            padding: 8px 12px;
            &:has(.active){
                background: v.$blanco;
            }
        }
    }
}

.no-one{
    font-family: v.$urban;
    color: v.$negro;
    font-weight: 600;
    text-align: center;
    width: 100%;
    font-size: 1.3em;
    @include m.television{
        font-size: 1.15em;
    }
    @include m.tablet{
        font-size: 1em;
    }
}