@use "base/mixins" as m;
@use "base/variables" as v;

.local{
    width: 100%;
    position: relative;
    z-index: 2;
    &>div{
        width: 100%;
    }
    &_image{
        position: relative;
        border-radius: 8px;
        overflow: hidden;
        @include m.pseudo100;
        &::before{
            background: linear-gradient(180deg, rgba(4, 37, 172, 0.44) 0%, #1B263A 100%);
            mix-blend-mode: multiply;
        }
        img{
            width: 100%;
        }
    }
    &_info{
        bottom: 50px;
        left: 0;
        width: 100%;
        max-width: 80%;
        padding: 6px 20px 6px 35px;
        background: v.$blanco;
        min-height: 90px;
        @include m.flex(center, 6px);
        align-items: flex-start;
        flex-direction: column;
        h3{
            font-family: v.$urban;
            font-weight: 400;
            color: v.$azul;
            strong, b{
                display: block;
            }
        }
        p{
            font-family: v.$urban;
            font-weight: 400;
        }
    }
}